.labelText {
    -fx-font-family: 'Montserrat Medium';
    -fx-font-size: 15px;
}
.fileSize{
    -fx-font-family:  'Fira Sans Medium';
    -fx-font-size: 15px;
    -fx-font-style: italic;
}
.tooltipText {
    -fx-font-family:  'Fira Sans';
    -fx-font-size: 14px;
    -fx-font-style: italic;
    /* -fx-text-fill: #24ACF2; */
}