.input {
    -fx-font-family: 'Fira Sans Medium';
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: rgb(179, 172, 117);
}

.root {
    -fx-accent: #161616;
    -fx-focus-color: #FFFFFF;
}

/* .text-field:empty  .text{
    -fx-text-fill: #cc2b2b;
} */

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(#FFB900, #F0D801);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#1a1c1b, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical {
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal {
    -fx-pref-height: 16.5;
    -fx-padding: 3;
}

.scroll-bar,
.scroll-bar:pressed,
.scroll-bar:focused {
    -fx-font-size: 15;
}