.session_name {
    -fx-font-family: 'Fira Sans Medium';
    -fx-font-size: 14px;
}

.session_password {
    -fx-font-family: 'Fira Sans Medium';
    -fx-font-size: 14px;
    -fx-text-fill: linear-gradient(#FFB900, #F0D801);
}

.session_sub_titles {
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 13px;
}